
<head>
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat|Raleway&display=swap" rel="stylesheet">
</head>
<header>
  <nav id="navbar" role="navigation">
    <div class="navbar-title">
    <a class="navbar-name" href="/">mapamundi</a>
    <span class="subheading">Explore Vancouver</span>
    </div>
    <div class="header">
      <a class="profile" href="/profile"><%= userName %>'s Maps</a>
      <a class="create" href="/create">Create Map</a>
    </div>
  </nav>
</header>
