<header>
  <nav id="navbar" role="navigation">
    <div class="navbar-title">
    <a class="navbar-name" href="/">mapamundi</a>
    <span class="subheading">Explore Vancouver</span>
    </div>
    <div class="header">
      <a class="profile" href="/profile"><%= currentUser.name %>'s Maps</a>
      <a class="create" href="/create">Create Map</a>
    </div>
  </nav>
</header>
