
<head>
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
</head>
<header>
  <nav id="navbar" role="navigation">
    <a class="navbar-name" href="/">Wiki Maps</a>
    <span class="header">
      <a class="profile" href="/profile">
        <=% users.id %>'s Maps
      </a>
      <a class="create" href="/create">Create Map</a>
    </span>
  </nav>
</header>
