<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../styles/edits.css">


  <title>Wiki Map</title>
</head>
<body>
   <%- include('partials/nav') %>
  <main class=mainbox>
    <div class="row">
    <div class="column">
    <div class="createbox">
      <h2>Mark the Spot</h2>
      <form id="create-marker" action="/map/:map_id" method="POST">
        <input type="text" placeholder="Search">
      </form>
      <form>
        <div>
        <input type="text" id="description" placeholder="Describe your marker">
        </div>
        <div>
          <input type="text" id="url" placeholder="Add image URL">
        </div>
        <button type="submit">Add</button>
      </form>
    </div>
    <div class="markerbox">
      <h2>Markers</h2>
      <ul>
        <h4>MarkerName</h4>
        <p>include marker from db for marker_id</p>
        <button class="delete" type="button">⦻</button>
        <h4>MarkerName</h4>
        <p>include marker from db for marker_id</p>
        <button class="delete" type="button">⦻</button>
        <h4>MarkerName</h4>
        <p>include marker from db for marker_id</p>
        <button class="delete" type="button">⦻</button>
      </ul>
    </div>
    </div>
    <div class="mapbox">
    <!-- <h3>Name of Map</h3>
    <img src= "https://www.asheya.com/wp-content/uploads/2018/03/Google-Map-Vancouver.jpg"> -->
  </div>
  </main>
</div>
</body>
</html>
