<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <title>Wiki Map</title>
</head>

<body>
  <%- include('partials/nav') %>
  <main>
    <h3>BREWERIES </h3>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <button class="like" type="button" >♡</button>
    <button class="edit" type="button">
      <a class="create map" href="/maps/edit">✎</a>
      </button>
    <h3>DONUTS</h3>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <button class="like" type="button" >♡</button>
    <button class="edit" type="button">
      <a class="create map" href="/maps/edit">✎</a>
      </button>
    <h3>TACOS</h3>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <button class="like" type="button">♡</button>
    <button class="edit" type="button">
      <a class="create map" href="/maps/edit">✎</a>
      </button>
  </main>
</body>
