<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <link rel="stylesheet" href="../styles/index.css" type="text/css" />

  <title>Wiki Map</title>
</head>
<header>
  <%- include('partials/nav') %>
</header>
<body>
  <main class="mapbox">
    <h1>Browse All Maps</h1>
    <article class=eachmap>
    <h2>BREWERIES </h2>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <i><a href="/create" class="fas fa-heart"></i></a><i><a href="/maps" class="fas fa-edit"></i></a>
    </article>
    <article class=eachmap>
      <h2>DONUTS</h2>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a>
  </article>
    <article class=eachmap>
    <h2>TACOS</h2>
    <img src="https://thehoppyending.files.wordpress.com/2013/12/slide1.jpg?w=300&h=225">
    <a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a>
  </article>
  </main>
</body>
