<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <link rel="stylesheet" href="../styles/index.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat|Raleway&display=swap" rel="stylesheet">

  <title>Wiki Map</title>
  <style>
  </style>
</head>
<header>
  <%- include('partials/nav') %>
</header>
<body>
  <main class="mapbox">
    <div class="column">
    <h1>See what others have created!</h1>

    <div class="home-container"></div>

    </div>

  </main>


  </div>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAl8y8muQpq4QUgU_Hrn4ktZlO4kH2BwA"></script>
  <script src="/scripts/initialize-map.js"></script>
  <script src="/scripts/home-helper.js"></script>
</body>
</html>
