<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create A Map</title>
    <link rel="stylesheet" type="text/css" href="../styles/profile.css">

    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
    </head>


  <body>
    <header>
     <%- include('partials/nav') %>
    </header>
    <main class=mainbox>
      <div class="column">
      <h3>My Favorites</h3>
      <div class="row">
        <div class="column">
          <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
          <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
        </div>
        <div class="column">
          <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
          <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
        </div>
        <div class="column">
          <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
          <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
        </div>
      </div>
        <h3>My Maps</h3>
        <div class="row">
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
        </div>
        <h3>My Favorites</h3>
        <div class="row">
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
          <div class="column">
            <img src=https://britishcolumbia.com/images/maps/vancouver-downtown.gif>
            <div class="icons"><a href="/create" class="fas fa-heart"></i></a><a href="/maps" class="fas fa-edit"></i></a></div>
          </div>
    </main>
  </body>
</html>
