body {
background-color: #fafaf2;
//background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}

.createbox {
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
  display: inline-flexbox;
  justify-content: center;
  margin-top: 20vw;
  text-align: center;
  background-color: #c5e8c5;
  border-radius: 1em;
  margin-left: 23vw;
  margin-right: 23vw;
  height: 40vw;
  }

  .column {
    padding-top: 3vw;
    text-align: center;

  }

  h1 {
    margin-bottom: 30px;
    font-size: 5em;
    color: #398039;
    font-family: 'Dancing Script', cursive;
  }
  
  .form {
    font-family: 'Open Sans Condensed', sans-serif;
  }

input.form-control {
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
  text-align: center;
  color:  #244751;
  width: 40vw;
  height: 3vw;
  margin: 0.5vw;
  border-style: none;
  background-color:#c5e8c5;
  font-size: 25px;
  font-weight: 500;
}

:focus{
  outline: none;
}

.focus-border{
  display: inline-flex;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #244751;
  //transition: 0.4s;
}
.form-control:focus ~ .focus-border{
  width: 100%;
  transition: 0.5s;
  left: 0;
}

button {
  margin-top: 20px;
  color: #244751;
  border: 2px solid #244751;
  background-color: #fafaf2;
  width: 13vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: .5vw;

}

button:hover {
  background: #244751;
  font-weight: bolder;
  color: white;
}

