body {
  background: linear-gradient(90deg, rgba(57,148,213,1) 0%, rgba(124,197,247,1) 100%);
}

.createbox {
  display: inline-flexbox;
  justify-content: center;
  margin-top: 12vw;
  text-align: center;
  border-radius: 1em;
  margin-left: 23vw;
  margin-right: 23vw;
  }

  .column {
    padding-top: 3vw;
    text-align: center;

  }

  .column h1 {
    margin-bottom: 30px;
    font-size: 3em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: none;
    text-shadow: 6px 6px 30px -4px rgba(56,56,56,0.72);
  }

  .form {
    font-family: 'Raleway', sans-serif;


  }

input.form-control {
  background: (183, 223, 235);
  opacity: .5;
  text-align: center;
  width: 30vw;
  height: 3vw;
  margin: 1vw;
  border-style: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
}

:focus{
  outline: none;
}

.focus-border{
  display: inline-flex;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #244751;
  //transition: 0.4s;
}


button {
  margin-top: 20px;
  color: #0f578a;
  border: 2px solid #0f578a;
  background-color: #fafaf2;
  width: 20vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: .5vw;
  box-shadow: 6px 6px 30px -4px rgba(19, 72, 110,0.72)

}

button:hover {
  background: #0f578a;
  font-weight: bolder;
  color: white;
  box-shadow: 6px 6px 30px -4px rgba(56,56,56,0.72);
}
