body {
  font-family: 'Raleway', sans-serif;
}

.column {
  flex: 33.33%;
  flex-direction: column;
  padding: 5px;
}


.row {
    display: flex;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vw;
  }

  .mainbox {

    justify-content: center;
    margin-top: 10vw;


    }


   .maps {
      width: 60vw;
      height: 35vw  ;
      justify-content: space-between;
      border-radius: 10px;
      box-shadow: 6px 6px 30px -4px rgba(56, 56, 56, 0.72);
      margin-right: auto;
      margin-left: auto;
    }

ul {
  padding-left: 0;
}

.markerbox {
  flex: 33.33%;
  flex-direction: column;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, rgba(124,197,247,1) 0%, rgba(72,147,201,1) 100%);
  width: 25vw;
  height: 34vw;
  border-radius: 1em;
  text-align: center;
  padding-bottom: .5vw;
  margin-top: 4.2vw;
  box-shadow: 6px 6px 30px -4px rgba(56, 56, 56, 0.72);
  overflow-y: auto;
  white-space: inherit;

}

.markerbox h2 {
  color: white;
}
.markerbox img {
  width: 50px;
  height: 50px;
  overflow: inherit;
  border-radius: 1em;
}


.mapbox {
  margin-top: 3.5vw;
}

.mapbox h2 {
  font-family: 'Raleway', sans-serif;
  color: #4b82c6;

}

.createbox {
  margin-top: 5vw;
  font-family: 'Open Sans Condensed', sans-serif;
  width:20vw;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
  text-align: center;
  }


.add {
  margin-top: 20px;
  color: #244751;
  border: 2px solid #244751;
  background-color: #fafaf2;
  width: 13vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: .5vw;

}
.add:hover {
  background: #244751;
  font-weight: bolder;
  color: white;
}


h2 {
color: white;
font-family: 'Raleway', sans-serif;
text-align: center;
}

h4 {
color: #4b82c6;
font-family: 'Raleway', sans-serif;
text-align: center;
margin-top: 0;
margin-bottom: 0;
text-align: center;
margin-left: 1em;
}

.markerbox h4 {
  color: white;
  text-align: start;
}


p {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: smaller;
  text-align: start;
  margin-left: 1em;
}

/////// search bar stuff
html, body, #map {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -moz-box-sizing: border-box;
  outline: none;
}
.toggle {
  font-size: x-large;
  justify-content: center;
  font-family:'Raleway', sans-serif;
  display: inline-flex;
  height: 3vw;
  margin-right: 2vw;
  border-style: solid;
  padding: .2em;
  background: #4893c9;
  color: white;
  border-radius: 10px;
  border-width: 2px;
  text-align: center;
  width: 24vw;

}

.fas.fa-trash-alt {
  font-size: 1.5vw;
  display: flex;
}
.toggle:hover {
  font-weight: bolder;
}

#pac-input {
background-color: #fff;
text-overflow: ellipsis;
font-size:18px;
padding:10px 10px 10px 5px;
width:20vw;
border:none;
border-bottom:1px solid #757575;

}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


.icon {
  display: none;
}

input {
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:20vw;
border:none;
border-bottom:1px solid #757575;
text-align: center;
}

input:focus{
  outline:none;
  }

button {
  font-size: 2vw;
  justify-content: center;
  padding-bottom: 1.3em;
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
  border-style: solid;
  padding: .2em;
  background: #4893c9;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 10vw;
  }

  button:hover {
    box-shadow: 6px 6px 30px -4px rgba(56, 56, 56, 0.72);
    font-weight: bolder;
    }

    .column {
      flex: 33.33%;
      flex-direction: column;
      text-align: start;
      margin-top: 3.5vw;
    }



    .markerrow {
      display: flex;
      padding: .5em;
      margin-left: .5em;

    }

    button.delete {
      color: black;
      margin-top: 0;
      margin-right: .5em;
      width: auto;
      justify-content: center;
      background:none;
      border: none;
      color: white;
      margin-top: .5em;
    }


    .markerbox::-webkit-scrollbar {
      margin-right: 2em;
      margin-top: 2em;
      width: 8px;
      width: 11px;
    }


    .markerbox::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    .markerbox::-webkit-scrollbar-thumb {
      -webkit-border-radius: 13px;
      border-top-left-radius: 0;
      /* border-bottom-left-radius: 0; */
      border-radius: 12;
      background: whitesmoke;
      background-color: white;
  }


    @-webkit-keyframes toshiba {
      from{
          margin-top:0;
          opacity: 1;
      }
      to{
          margin-top: 30px;
          opacity: 0;
      }
  }
i.fas.fa-angle-double-down {
  -webkit-animation: toshiba 2s linear infinite;
  font-size: large;
  margin-left: .5em;
}

.deleterow {
  justify-content: end;
  display: grid;
  margin-top: 1vw;
}
