button.fas.fa-heart {
  color:  #f08080;
  text-decoration: none;
  font-size: x-large;
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 13px;
}

.liked {
  font-weight: 800;
}

.unliked{
  font-weight: 500;
}

button.fas.fa-edit {
  color: #398039;
  font-weight: 800;
  text-decoration: none;
  font-size: x-large;
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
}

form {
  display: flex;
  margin-bottom: 17px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.icon {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  margin-right: 15vw;
  margin-top: 20px;
  margin-bottom: 7vw;
}

.column {
  flex: 33.33%;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
.maps_container {
  flex: 33.33%;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.mainbox {

  justify-content: center;
  margin-top: 10vw;

  }

body {

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #4b82c6;
 }


 .mapbox {
  display: flex;
  flex-direction: row;
  margin-top: 12vw;
  justify-content: center;
  text-align: center;
}

.maps {
  width: 70vw;
  height: 32vw;
  border-radius: 10px;
  box-shadow: 6px 6px 30px -4px rgba(56,56,56,0.72);
  justify-content: center;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  margin-top: 18px;
  text-align: center;

}
.row {
  display: inline-flex;
  margin-top: 1vw;
}
.icon {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  margin-left: 15vw;
}

h1 {
  font-size: 2em;
  margin-bottom: 2.5em;
  letter-spacing: 7px;
  font-weight: lighter;
}
