#navbar {
  background-color: #aadafb;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  height: 120px;
  width: 100vw;
  z-index: 9999;
  padding:1.5em;
  margin: auto;
}
/* Navbar links */
.navbar-name {
  padding-top: inherit;
  font-size: 60px;
  color: whitesmoke;
  font-family: 'Bungee Shade', cursive;
  text-decoration: none;
  padding-right: 20px;
}

.header .profile {
  font-size: 17px;
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  display: inline-block;
  text-decoration: none;

}
.header .create {
  font-size: 17px;
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
}


