.fa, .fas {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.mainbox {
  display: flex;
  justify-content: center;
  margin-top: 25vw;

  }

.map {
  display: table-caption;
}

.flex-container {
  display: inline-block
}

.imagebox {
  justify-content: space-between;
}

img {
  width: 20vw;
  justify-content: space-between;
}

h3 {
  justify-content: center;

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
 }


 .mapbox {
  display: flex;
  flex-direction: row;
  margin-top: 15vw;
  justify-content: center;
  text-align: center;
}



.eachmap img {
  width: 60vw;
  justify-content: center;
}


img {
  width: 20vw;
  justify-content: space-between;
}
