.fa, .fas {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-around;
}

.icons {
  justify-content: flex-end;
  text-align: end;
  margin-right: 6vw;
}

.column {
  flex: 33.33%;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.mainbox {

  justify-content: center;
  margin-top: 15vw;

  }


body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
 }


 .mapbox {
  display: flex;
  flex-direction: row;
  margin-top: 15vw;
  justify-content: center;
  text-align: center;
}




img {
  width: 20vw;
  justify-content: space-between;
}

h3 {
  text-align: center
}
