button.fas.fa-heart {
  color:  #f08080;
  font-weight: 500;
  text-decoration: none;
  font-size: large;
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
}

button.fas.fa-edit {
  color: #398039;
  font-weight: 500;
  text-decoration: none;
  font-size: large;
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
}

a.fa, a.fas :focus {
  color: black;
  font-weight: 500;
}

form {
  display: flex;
}

.maprow {
  display: flex;
  justify-content: space-around;

}

.my-favorites-container {
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
  margin-right: 5vw;



}
.my-maps-container {
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
  margin-right: 5vw;

}

.my-contributions-container {
  display: flex;
  margin-left: 11vw;
  margin-right: 12vw;
  margin-bottom: 10vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: inherit;


}




.column {
  flex: 33.33%;
  flex-direction: column;
  padding: 2vw;
  text-align: center;
}

.mainbox {
  justify-content: center;
  margin-top: 8vw;

}


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #4b82c6;
 }


 .mapbox {
  display: flex;
  flex-direction: row;
  margin-top: 15vw;
  justify-content: center;
  text-align: center;
}


.maps {
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
  box-shadow: 6px 6px 30px -4px rgba(56,56,56,0.72);
  justify-content: center;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
}

h2 {
     text-align: center;
    font-size: larger;
}

h1 {
  font-size: 3em;
  font-weight: 3em;
}
.icon {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

.row {
  display: inline-flex;
  margin-top: 1vw;
}





.my-contributions-container::-webkit-scrollbar {
  width: 8px;
}


.my-contributions-container::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.my-contributions-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #4b82c6;
}


.my-favorites-container::-webkit-scrollbar {
  width: 8px;
}


.my-favorites-container::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.my-favorites-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #4b82c6;
}

///
.my-favorites-container::-webkit-scrollbar {
  width: 8px;
}


.my-favorites-container::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.my-favorites-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #4b82c6;
}
